<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/apk/res-auto"
    package="com.note.mytest">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="cn.dnp.permission.RCV_MEETING" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/jz_network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        banner-->
        <activity android:name=".ui.BannerActivity"/>
        <activity android:name=".banner.RecyclerViewBannerActivity" />
        <activity android:name=".banner.ConstraintLayoutBannerActivity" />
        <activity android:name=".banner.GalleryActivity"></activity>
        <activity android:name=".banner.TouTiaoActivity" />
        <activity android:name=".banner.TVActivity" />
        <activity
            android:name=".banner.Vp2FragmentRecyclerviewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

<!--        viewpager-->
        <activity android:name=".ui.ViewPagerActivity" />
        <activity android:name=".ui.CollectionActivity" />
        <activity android:name=".ui.AlgorithmActivity" />
        <activity android:name=".ui.MontyActivity" />

<!--        饺子视频播放器-->
        <activity android:name=".ui.JiaoZiMainActivity" />
        <activity android:name=".ui.NextActivity" />
        <activity android:name=".ui.EventBusActivity" />
        <activity android:name=".ui.DrawableActivity" />
        <activity android:name=".ui.HtmlActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DatabaseActivity" />
        <activity android:name=".ui.ZxingActivity" />
        <activity android:name=".ui.SecondActivity" />
        <activity android:name=".ui.ThreeActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".ui.ScwangActivity" />
        <activity
            android:name=".jiaozi.ActivityDirectPlay"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityListView"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityListViewNormal"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityListViewFragmentViewPager"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityListViewMultiHolder"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityTinyWindowRecycleView"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityTinyWindow"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityTinyWindowRecycleViewMultiHolder"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityApi"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityApiUISmallChange"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityApiUIBigChange"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityApiRotationVideoSize"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityApiCustomMedia"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityListViewRecyclerView"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityWebView"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityApiOrientation"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityApiExtendsNormal"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />

        <service
            android:name="com.note.testlibrary.tool.MyService"
            android:icon="@drawable/ic_launcher_background"
            android:label="服务" />
    </application>

</manifest>