<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/apk/res-auto"
    package="com.note.mytest">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.JiaoZiMainActivity"></activity>
        <activity android:name=".ui.NextActivity" />
        <activity android:name=".ui.EventBusActivity" />
        <activity android:name=".ui.DrawableActivity" />
        <activity android:name=".ui.HtmlActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DatabaseActivity" />
        <activity android:name=".ui.ZxingActivity" />
        <activity android:name=".ui.SecondActivity" />
        <activity android:name=".ui.ThreeActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".ui.ScwangActivity" />

        <activity
            android:name=".jiaozi.ActivityDirectPlay"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityListView"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityListViewNormal"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityListViewFragmentViewPager"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityListViewMultiHolder"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityTinyWindowRecycleView"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityTinyWindow"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityTinyWindowRecycleViewMultiHolder"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityApi"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityApiUISmallChange"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityApiUIBigChange"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityApiRotationVideoSize"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".jiaozi.ActivityApiCustomMedia"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiaozi.ActivityListViewRecyclerView"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiaozi.ActivityWebView"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiaozi.ActivityApiOrientation"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiaozi.ActivityApiExtendsNormal"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />


        <service
            android:name="com.note.testlibrary.tool.MyService"
            android:icon="@drawable/ic_launcher_background"
            android:label="服务" />
    </application>

</manifest>